// Body
$body-bg: #edf6f9;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #f56f6c;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #195962;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #191c21;
$pale-yellow: #8c752e;
$base-yellow: #f2c53d;
$bright-yellow: #f2e744;
$base-blue: #35d0f2;

$primary: #006d77;
$secondary: #83c5be;
$success: #83c5be;
$danger: #924c32;
$info: #e29578;
$warning: #fab298;
$light: #edf6f9;

$enable-shadows: true;
