// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	display: flex;
	min-height: 95vh;
	flex-direction: column;
	justify-content: space-between;
}
